# -*- coding: utf-8 -*-
import logging

SKILL_LOG_LEVEL=logging.ERROR

# Plex Media Server config
PMS_SERVER_URL = 'YOU_SERVER_HTTPS_URL'
PMS_SERVER_TOKEN = 'YOUR_SERVER_TOKEN_HERE'
PMS_DEFAULT_SECTION_NAME = 'YOUR_SECTION_NAME_HERE'
PMS_DEFAULT_MAX_RESULTS = 100
